<i class="glyphicon glyphicon-music"></i><i class="glyphicon glyphicon-music"></i><i class="glyphicon glyphicon-music"></i>
<h2 class="page-header"><i class="glyphicon glyphicon-music"></i> Here you get your favorate musics audio <i class="glyphicon glyphicon-music"></i>
  <% if current_user%>
    <%= link_to  "Upload ", new_audio_path, class:'btn btn-info pull-right' %>
  <% end %>
</h2>


<div class="row">
        <div class="col-md-10">
            <%if @audios.exists? %>
                 <div class="row">
                  <% @audios.each do |song|%>
                     <div class="col-md-4">
                        <div class="panel panel-info">
                            <div class="panel-body">
                                <%if song.coverpicture.present?%>
                                   <%= image_tag  "#{song.coverpicture}", class:'thumbnail', width:'100%', height:'200px' %>
                                <%else%>
                                    <%= image_tag  "img/image2.jpg", class:'thumbnail', width:'30%' %>
                                <% end %>
                                    <li><strong>Song name: </strong><%= song.title%></li>
                                    <li><strong>Artist: </strong><%= song.artist %></li>
                                    <li><strong>Upload on:</strong><%= song.created_at.to_time.strftime('%b %e, %Y ') %></li>
                                    
                                    <%= link_to  "View", audio_path(song), class:'glyphicon glyphicon-ok btn btn-success' %> <%= link_to  "..Related songs...", type_path(:id => song.type_id), class:'btn btn-default readMore' %>
                            </div>
                        </div> 
                    </div>
                  <% end %>
            <!-- pagination -->
                </div>          
            <%else%>
                <p>No song published yet</p>
            <% end %>
       </div>
       
    <div class="col-md-2">
        <% if @types.exists%>
          <% @types.each do |type|%>
                <li class="list-group-item"><%= link_to type.name, type_path(type), class:'glyphicon glyphicon-film'  %></li>
          <%end%>
        <%else%>
        <p>No categories found</p>
        <%end%>
    </div>
</div>


