<h2 class="page-header">
  <% if current_user%>
    <%= link_to  "Upload ", new_audio_path, class:'btn btn-info pull-right' %>
  <% end %>
</h2>


<div class="row">
        <div class="col-md-10">
            <div class="recent-upload">
                <h4>RECENT UPLOADED AUDIOS</h4>
            </div>
            <%if @audios.exists? %>
                 <div class="row">
                  <% @audios.each do |song|%>
                     <div class="col-md-4">
                        <div class="panel panel-info">
                            <div class="panel-body">
                                <%= link_to audio_path(song) do %>
                                <%if song.coverpicture.present?%>
                                   <%= image_tag  "#{song.coverpicture}", id:'playsound', class:'thumbnail', width:'100%', height:'200px' %>
                                <%else%>
                                    <%= image_tag  "img/image2.jpg", class:'thumbnail', width:'30%' %>
                                <% end %>
                                <% end %>
                                    <li><strong>Song name: </strong><%= song.title%></li>
                                    <li><strong>Artist: </strong><%= song.artist %></li>
                                    <li><strong>Upload on:</strong><%= song.created_at.to_time.strftime('%b %e, %Y ') %></li>
                                    
                                    <%= link_to  "Play", audio_path(song), id:'playsound', class:'glyphicon glyphicon-ok btn btn-block btn-success audioButton' %>
                            </div>
                        </div> 
                    </div>
                  <% end %>
            <!-- pagination -->
                </div>          
            <%else%>
                <p>No song published yet</p>
            <% end %>
       </div>
       
    <div class="col-md-2"  id="category">
        <% if @types.exists%>
            <div class="panel panel-nfio">
                <div class="panel panel-heading">
                    <h4 >Categories</h4>
                </div>
                <div class="panel panel-body">
                   <% @types.each do |type|%>
                        <li class="list-group-item"><%= link_to type.name, type_path(type), class:'glyphicon glyphicon-film'  %></li>
                    <%end%> 
                </div>
            </div>
        <%else%>
        <p>No categories found</p>
        <%end%>
    </div>
</div>



