<% if current_user%>
    <% if @audio.user_id == current_user.id%>
        <%= link_to  "Update Audio ", edit_audio_path(@audio), class:'btn btn-info pull-right' %>
    <% end %>
<% end %>

<i class="glyphicon glyphicon-music"></i><i class="glyphicon glyphicon-music"></i><i class="glyphicon glyphicon-music"></i>
<h2 class="page-header"><i class="glyphicon glyphicon-music"></i> <%= @audio.title%> <i class="glyphicon glyphicon-music"></i></h2>
<div class="row">
    <div class="col-md-10">
        <div class="panel panel-default">
            <div class="panel panel-body">
               <% if @audio.coverpicture.present?%>
                 <% if @audio.song_audio.present?%>
                 <%= audio_tag  "#{@audio.song_audio}", controls: true, width:'100%', style:"background-image: url(#{@audio.coverpicture}); height: 300px; border-radius: 28px; top: 40%; left: 50%;"  %>
               <% else%>
                <p>No song uploaded</p>
                <% end%>
               <% else%>
                <% if @audio.song_audio.present?%>
                 <%= audio_tag  "#{@audio.song_audio}", controls: true, width:'100%', style:"background-image: url(img/image2.jpg); height: 300px; border-radius: 28px; top: 40%; left: 50%;"  %>
               <% else%>
                <p>No song uploaded</p>
                <% end%>
                <% end%>
                
            </div>
            <div class="panel panel-footer">
               <li><strong>Category: </strong><%= link_to  @audio.type.name, type_path(@audio) %></li>
               <li><strong>Song name: </strong><%= @audio.title%></li>
                <li><strong>Artist: </strong><%= @audio.artist%></li>
                <li><strong>Upload by: </strong><%= @audio.user.name %></li>
                <li><strong>Upload on: </strong><%= @audio.created_at.to_time.strftime('%A (%b %e, %Y at %H : %M %p)') %></li>  
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <% if @types.exists%>
          <% @types.each do |type|%>
                <li class="list-group-item"><%= link_to type.name, type_path(type), class:'glyphicon glyphicon-music'  %></li>
          <%end%>
        <%else%>
        <p>No categories found</p>
        <%end%>
    </div>
</div> <!-- show audio page -->
<div class="row">
    <div class="col-md-10">
        <%if @audios.exists? %>
            <div class="row">
                <% @audios.each do |song|%>
                <div class="col-md-4">
                    <div class="panel panel-info">
                        <div class="panel-body">
                            <%if song.coverpicture.present?%>
                                <%= image_tag  "#{song.coverpicture}", class:'thumbnail', width:'30%' %>
                            <%else%>
                                <%= image_tag  "img/image2.jpg", class:'thumbnail', width:'30%' %>
                            <% end %>
                                <li><strong>Song name: </strong><%= song.title%></li>
                                <li><strong>Artist: </strong><%= song.artist %></li>
                                <li><strong>Upload on: </strong> <%= song.created_at.to_time.strftime('%b %e, %Y ') %></li>
                                
                                <%= link_to  "Play", audio_path(song), class:'glyphicon glyphicon-ok btn btn-success' %> <%= link_to  "..Related songs...", type_path(:id => song.type_id), class:'btn btn-default readMore' %>
                        </div>
                    </div> 
                </div>
                <% end %>
            </div>
                    
        <%else%>
            <p>No song published yet</p>
        <% end %>
        <!-- pagination -->
        <%= paginate @audios, :theme => 'twitter-bootstrap-3' %>
    </div>
    <div class="col-md-2">
        
    </div>
</div>


