<div class="comments">
    <h2 class="page-header "><span class="badge"><%= @post.comments.length %></span> Comments</h2>
    <%@post.comments.each do |comment| %>
    <div class="comment">
        <div class="row">
            
            <div class="col-md-12">
                <div class="well">
                    
                    <h4><%= comment.name %></h4>
                    <%= comment.body%>
                    <br>
                    <br>
                    <strong>Commented by: </strong><%= comment.name%>
                    <br>
                    <strong>Commented on: </strong><%= comment.created_at.to_time.strftime('%b %e, %Y')%>
                </div>
            </div>
        </div>
    </div>
    <% end %>

    <div class="well add-comments">
       <h2 class="page-header">
          <a href="#collapse-3" data-toggle="collapse" data-parent="#accordion">
             Add Comment 
          </a>
       </h2> 
        <div id="collapse-3" class="panel-collapse collapse">            
        <%= form_for([@post, @post.comments.build]) do |f| %>
            <div class="form-group">
                <%= f.label :name%>
                <%= f.text_field :name, class:'form-control'%>
            </div>
            <div class="form-group">
                <%= f.label :email%> 
                <%= f.text_field :email, class:'form-control'%> 
            </div>
            <div class="form-group">
                <%= f.label :body %>
                <%= f.text_area :body, class:'form-control' %>
            </div>
            <%= f.submit "submit", class:'btn btn-success'%>
        <% end %>
        </div>
    </div>
</div>