<i class="glyphicon glyphicon-film"></i><i class="glyphicon glyphicon-music"></i><i class="glyphicon glyphicon-film"></i>
<h2 class="page-header"><i class="glyphicon glyphicon-film"></i> Here you get your favorate musics video <i class="glyphicon glyphicon-film"></i></h2>
<div class="row">
        <div class="col-xs-4 col-md-4">
        <div class="panel panel-info">
            <div class="panel-body">
                <%= image_tag  "img/image2.jpg", class:'thumbnail', width:'30%' %>
                <li><strong>Song name: </strong>lorem ipsum</li>
                <li><strong>Artist: </strong>John Doe</li>
                <li><strong>Upload on:</strong> 12/12/2018</li>
                
                <%= link_to  "Play", audio_path(:id), class:'glyphicon glyphicon-ok btn btn-success' %> <%= link_to  "..Explore related music...", audios_path, class:'btn btn-default readMore' %>
            </div>
       </div>
       <div class="panel panel-info">
            <div class="panel-body">
                <%= image_tag  "img/image2.jpg", class:'thumbnail', width:'30%' %>
                <li><strong>Song name: </strong>lorem ipsum</li>
                <li><strong>Artist: </strong>John Doe</li>
                <li><strong>Upload on:</strong> 12/12/2018</li>
                
                <%= link_to  "Play", audio_path(:id), class:'glyphicon glyphicon-ok btn btn-success' %> <%= link_to  "..Explore related music...", audios_path, class:'btn btn-default readMore' %>
            </div>
       </div>
       <div class="panel panel-info">
            <div class="panel-body">
                <%= image_tag  "img/image2.jpg", class:'thumbnail', width:'30%' %>
                <li><strong>Song name: </strong>lorem ipsum</li>
                <li><strong>Artist: </strong>John Doe</li>
                <li><strong>Upload on:</strong> 12/12/2018</li>
                
                <%= link_to  "Play", audio_path(:id), class:'glyphicon glyphicon-ok btn btn-success' %> <%= link_to  "..Explore related music...", audios_path, class:'btn btn-default readMore' %>
            </div>
       </div>
       <div class="panel panel-info">
            <div class="panel-body">
                <%= image_tag  "img/image2.jpg", class:'thumbnail', width:'30%' %>
                <li><strong>Song name: </strong>lorem ipsum</li>
                <li><strong>Artist: </strong>John Doe</li>
                <li><strong>Upload on:</strong> 12/12/2018</li>
                
                <%= link_to  "Play", audio_path(:id), class:'glyphicon glyphicon-ok btn btn-success' %> <%= link_to  "..Explore related music...", audios_path, class:'btn btn-default readMore' %>
            </div>
       </div>
       <div class="panel panel-info">
            <div class="panel-body">
                <%= image_tag  "img/image2.jpg", class:'thumbnail', width:'30%' %>
                <li><strong>Song name: </strong>lorem ipsum</li>
                <li><strong>Artist: </strong>John Doe</li>
                <li><strong>Upload on:</strong> 12/12/2018</li>
                
                <%= link_to  "Play", audio_path(:id), class:'glyphicon glyphicon-ok btn btn-success' %> <%= link_to  "..Explore related music...", audios_path, class:'btn btn-default readMore' %>
            </div>
       </div>
   </div>
    <div class="col-xs-4 col-md-5">
        <div class="panel panel-default">
            <div class="panel panel-body">
                <%= image_tag  "img/image2.jpg", class:'thumbnail' %>
                <i class="glyphicon glyphicon-play"></i> <i class="glyphicon glyphicon-pause"></i> <i class="glyphicon glyphicon-stop"> <i class="glyphicon glyphicon-volume-up"></i></i>
            </div>
            <div class="panel panel-footer">
              <li><strong>Song name: </strong>lorem ipsum</li>
                <li><strong>Artist: </strong>John Doe</li>
                <li><strong>Upload by: </strong>John Doe</li>
                <li><strong>Upload on:</strong> 12/12/2018</li>  
            </div>
        </div>

        <div class="panel panel-default">
             <div class="panel panel-heading">
                 <h4><i class="glyphicon glyphicon-list"> Related Songs</i></h4>
             </div>
            <div class="panel-body">
                <%= image_tag  "img/image2.jpg", class:'thumbnail', width:'20%' %>
                <li><strong>Song name: </strong>lorem ipsum</li>
                <li><strong>Artist: </strong>John Doe</li>
                <%= link_to  "Play", audio_path(:id), class:'glyphicon glyphicon-ok btn btn-success' %> <%= link_to  "..Explore related music...", audios_path, class:'btn btn-default readMore' %>
            </div>
            <div class="panel panel-footer">  
            </div>
            <div class="panel-body">
                <%= image_tag  "img/image2.jpg", class:'thumbnail', width:'20%' %>
                <li><strong>Song name: </strong>lorem ipsum</li>
                <li><strong>Artist: </strong>John Doe</li>
                
                <%= link_to  "Play", audio_path(:id), class:'glyphicon glyphicon-ok btn btn-success' %> <%= link_to  "..Explore related music...", audios_path, class:'btn btn-default readMore' %>
            </div>
            <div class="panel panel-footer">   
            </div>
            <div class="panel-body">
                <%= image_tag  "img/image2.jpg", class:'thumbnail', width:'20%' %>
                <li><strong>Song name: </strong>lorem ipsum</li>
                <li><strong>Artist: </strong>John Doe</li>
                
                <%= link_to  "Play", audio_path(:id), class:'glyphicon glyphicon-ok btn btn-success' %> <%= link_to  "..Explore related music...", audios_path, class:'btn btn-default readMore' %>
            </div>
            <div class="panel panel-footer"> 
            </div>
        </div>
    
        
    </div>
    <div class="col-xs-4 col-md-2">
        <ul class="list-group">
            <li class="list-group-item"><i class="glyphicon glyphicon-music"></i> Hip-Hop</li>
            <li class="list-group-item"><i class="glyphicon glyphicon-music"></i> RNB</li>
            <li class="list-group-item"> <i class="glyphicon glyphicon-music"></i> Zouk</li>
            <li class="list-group-item"> <i class="glyphicon glyphicon-music"></i> Classical</li>
            <li class="list-group-item"> <i class="glyphicon glyphicon-music"></i> Country</li>
            <li class="list-group-item"><i class="glyphicon glyphicon-music"></i> Reggae</li>
            <li class="list-group-item"><i class="glyphicon glyphicon-music"></i> Jazz</li>
            <li class="list-group-item"><i class="glyphicon glyphicon-music"></i> Rock</li>
            <li class="list-group-item"><i class="glyphicon glyphicon-music"></i> Blues</li>
            <li class="list-group-item"><i class="glyphicon glyphicon-music"></i> Gospel</li>
        </ul>
    </div>
</div>


