
<i class="glyphicon glyphicon-film" ></i><i class="glyphicon glyphicon-music"></i><i class="glyphicon glyphicon-film"></i>
<h2 class="page-header" text-center><i class="glyphicon glyphicon-film"></i> <%= @video.song_title%> <i class="glyphicon glyphicon-film"></i>
  <% if current_user%>
    <% if @video.user_id == current_user.id%>
        <%= link_to  "Edit ", edit_video_path(@video), class:'btn btn-info pull-right' %>
    <% end %>
 <% end %>
</h2>
<div class="row">
    <div class="col-md-10">
        <div class="panel panel-default">
            <div class="panel panel-body">
               <%if @video.youtube_link.present?%>
                    <iframe width="836" height="416" src="https://www.youtube.com/embed/<%= @video.youtube_link %>" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    
                <%else%>
                    <%= image_tag  "img/image2.jpg", class:'thumbnail', width:'40%' %>
                <% end %>
                
            </div>
            <div class="panel panel-footer">
               <li><strong>Category: </strong><%= link_to  @video.type.name, type_path(@video) %></li>
               <li><strong>Song name: </strong><%= @video.song_title%></li>
                <li><strong>Artist: </strong><%= @video.singer_name%></li>
                <li><strong>Upload by: </strong><%= @video.user.name %></li>
                <li><strong>Upload on:</strong><%= @video.created_at.to_time.strftime('%A (%b %e, %Y at %H : %M %p)') %></li>  
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <% if @types.exists%>
          <% @types.each do |type|%>
                <li class="list-group-item"><%= link_to type.name, type_path(type), class:'glyphicon glyphicon-film'  %></li>
          <%end%>
        <%else%>
        <p>No categories found</p>
        <%end%>
    </div>
</div> <!-- End of show -->
<div class="row">
        <div class="col-md-5">
            <%if @videos.exists%>
              <div class="panel panel-default">
             <div class="panel panel-heading">
                 <h4><i class="glyphicon glyphicon-list"> Lattest Uploads</i></h4>
             </div>
             
                <% @videos.each do |video|%>
                  <div class="panel-body">
                    <% if video.youtube_link.present? %>
                               <iframe width="250" height="200" src="https://www.youtube.com/embed/<%= video.youtube_link %>" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                       
                    <%else%>
                       <%= image_tag  "img/image2.jpg", class:'thumbnail', width:'20%' %>
                    <%end%>
                    <li><strong>Song name: </strong><%= video.song_title%></li>
                    <li><strong>Artist: </strong><%= video.singer_name%></li>
                    <%= link_to  "View", video_path(video), class:'glyphicon glyphicon-ok btn btn-success' %>
                </div>
                <div class="panel-footer">  
                </div>
                <% end%>
             </div>
             <%else%>  
             <p>No New uploads found!</p>
            <% end %>
            <!-- pagination -->
   </div>
    <div class="col-md-5">
        <% if @related.exists%>
          <div class="panel panel-default">
             <div class="panel panel-heading">
                 <h4><i class="glyphicon glyphicon-list"> Related Songs</i></h4>
             </div>
             
                <% @related.each do |related|%>
                  <div class="panel-body">
                    <% if related.youtube_link.present? %>
                               <iframe width="250" height="200" src="https://www.youtube.com/embed/<%= related.youtube_link %>" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                       
                    <%else%>
                       <%= image_tag  "img/image2.jpg", class:'thumbnail', width:'20%' %>
                    <%end%>
                    <li><strong>Song name: </strong><%= related.song_title%></li>
                    <li><strong>Artist: </strong><%= related.singer_name%></li>
                    <%= link_to  "View", video_path(related), class:'glyphicon glyphicon-ok btn btn-success' %>
                </div>
                <div class="panel-footer">  
                </div>
                <% end%>
             </div>
             <%else%>  
             <p>No Video with the same category found!</p>
             <%end%>
            <!-- pagination  related-->
          
    
        
    </div>
</div>

