<i class="glyphicon glyphicon-film" ></i><i class="glyphicon glyphicon-music"></i><i class="glyphicon glyphicon-film"></i>
<h2 class="page-header" text-center><i class="glyphicon glyphicon-film"></i> <%= @video.song_title%> <i class="glyphicon glyphicon-film"></i>
  <% if current_user%>
    <% if @video.user_id == current_user.id%>
        <%= link_to  "Edit ", edit_video_path(@video), class:'btn btn-info pull-right' %>
    <% end %>
 <% end %>
</h2>
<div class="row">
    <div class="col-md-10">
        <div class="panel panel-default">
            <div class="panel panel-body">
               <%if @video.youtube_link.present?%>
                    <iframe width="100%" height="420" src="https://www.youtube.com/embed/<%= @video.youtube_link %>" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    
                <%else%>
                    <%= image_tag  "img/image2.jpg", class:'thumbnail', width:'40%' %>
                <% end %>
                
            </div>
            <div class="panel panel-footer">
               <li><strong>Category: </strong><%= link_to  @video.type.name, type_path(@video) %></li>
               <li><strong>Song name: </strong><%= @video.song_title%></li>
                <li><strong>Artist: </strong><%= @video.singer_name%></li>
                <li><strong>Upload by: </strong><%= @video.user.name %></li>
                <li><strong>Upload on:</strong><%= @video.created_at.to_time.strftime('%A (%b %e, %Y at %H : %M %p)') %></li>  
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <% if @types.exists%>
          <% @types.each do |type|%>
                <li class="list-group-item"><%= link_to type.name, type_path(type), class:'glyphicon glyphicon-film'  %></li>
          <%end%>
        <%else%>
        <p>No categories found</p>
        <%end%>
    </div>
</div> <!-- End of show -->
<div class="row">
    <div class="col-md-10">
       <%if @videos.exists? %>
                <div class="row">
                <% @videos.each do |song|%>
                    <div class="col-md-4">
                    <div class="panel panel-info">
                        <div class="panel-body">
                            <%if song.youtube_link.present?%>
                            <iframe width="100%" height="200" src="https://www.youtube.com/embed/<%= song.youtube_link %>" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                            <%else%>
                                <%= image_tag  "img/image2.jpg", class:'thumbnail', width:'30%' %>
                            <% end %>
                                <li><strong>Song name: </strong><%= song.song_title%></li>
                                <li><strong>Artist: </strong><%= song.singer_name %></li>
                                <li><strong>Upload on:</strong><%= song.created_at.to_time.strftime('%b %e, %Y ') %></li>
                                
                                <%= link_to  "View", video_path(song), class:'glyphicon glyphicon-ok btn btn-success' %> <%= link_to  "..Related songs...", type_path(:id => song.type_id), class:'btn btn-default readMore' %>
                        </div>
                    </div> 
                </div>
                <% end %>
        <!-- pagination -->
            </div>          
        <%else%>
            <p>No song published yet</p>
        <% end %>
    </div>
    <div class="col-md-2">
       
    </div>
</div>

