<div class="container" >

  <!-- carousel sleder -->
  <div class="carousel slide" id="my-carousel" data-ride="carousel">
      <div class="carousel-inner">
          <div class="item active">
             <%= image_tag  "img/image1.jpg", width:'100%', height:'25%' %>
             <div class="carousel-caption">
                 <h3>Look AT OUR PRODUCTION TOOLS</h3>
                 <p>Enjoy working with us, we have lattest audios, videos and blog if you want to be one of our bloggers contact us
                    <%= link_to  "Contact Us", contact_path, class:'btn btn-success' %>
                  </p>
             </div> 
          </div> <!-- first item -->
          <div class="item">
             <%= image_tag  "img/image2.jpg", width:'100%', height:'25%' %>
             <div class="carousel-caption">
                 <h3>This is real awesome record</h3>
                 <p>Enjoy working with us, we have lattest audios, videos and blog if you want to be one of our bloggers contact us
                    <%= link_to  "Contact Us", contact_path, class:'btn btn-success' %>
                  </p>
             </div> 
          </div> <!-- second item -->
          <div class="item">
             <%= image_tag  "img/image3.jpg", width:'100%', height:'25%' %>
             <div class="carousel-caption">
                 <h3>This is real awesome record</h3>
                 <p>Enjoy working with us, we have lattest audios, videos and blog if you want to be one of our bloggers contact us
                    <%= link_to  "Contact Us", contact_path, class:'btn btn-success' %>
                  </p>
             </div> 
          </div> <!-- second item -->
      </div>
 </div>
<br>
<br>
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-success">
            <div class="panel panel-heading">
                <h2> <i class="glyphicon glyphicon-music"> Audio</i></h2>
            </div>
            <div class="panel-body">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                Lorem Ipsum has been the industry's standard dummy text ever since the 
                1500s, when an unknown printer took a galley of type and scrambled it to make 
                a type specimen book. It has survived not only five centuries, but also the 
                leap into electronic typesetting, remaining essentially unchanged.
            </div>
            <div class="panel panel-footer">
                <%= link_to  "explore more", audios_path, class:'btn btn-block btn-success' %> 
            </div>
        </div>
    </div>
    <div class="col-md-4">
       <div class="panel panel-info">
            <div class="panel panel-heading">
                <h2> <i class="glyphicon glyphicon-film"> Video</i></h2>
            </div>
            <div class="panel-body">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                Lorem Ipsum has been the industry's standard dummy text ever since the 
                1500s, when an unknown printer took a galley of type and scrambled it to make 
                a type specimen book. It has survived not only five centuries, but also the 
                leap into electronic typesetting, remaining essentially unchanged.
            </div>
            <div class="panel panel-footer">
                <%= link_to  "explore more", videos_path, class:'btn btn-block btn-success' %> 
            </div>
        </div>
    </div>
    <div class="col-md-4">
       <div class="panel panel-warning">
            <div class="panel panel-heading">
                <h2> <i class="glyphicon glyphicon-comment"> Blog</i></h2>
            </div>
            <div class="panel-body">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                Lorem Ipsum has been the industry's standard dummy text ever since the 
                1500s, when an unknown printer took a galley of type and scrambled it to make 
                a type specimen book. It has survived not only five centuries, but also the 
                leap into electronic typesetting, remaining essentially unchanged.
            </div>
            <div class="panel panel-footer">
                <%= link_to  "explore more", posts_path, class:'btn btn-block btn-success' %> 
            </div>
        </div>
    </div>
</div>
</div>
</div>


<script>
var slideIndex = 0;
carousel();

function carousel() {
    var i;
    var x = document.getElementsByClassName("mySlides");
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none"; 
    }
    slideIndex++;
    if (slideIndex > x.length) {slideIndex = 1} 
    x[slideIndex-1].style.display = "block"; 
    setTimeout(carousel, 5000); 
}
</script>
