<div class="row">
    <div class="col-md-1">
        
    </div>
    <div class="col-md-10">
        <div class="recent-upload">
            <h4><%= @post.title%></h4>
        </div>
        <div class="thumbnail">
           <%if @post.coverpicture.present?%>
           <%= image_tag  "#{@post.coverpicture}", width:'100%' %>
           <% else %> 
           <%= image_tag  "img/image2.jpg" %>
           <% end %> 
        </div>
        <div class="content">
            <%= raw @post.body %>
        </div>
        <div class="post-footer ">
            <p><strong>Category: </strong><%= link_to  @post.category.name, category_path(@post.category_id) %></p>
            <p><strong>Posted by: </strong><%= @post.user.name%></p>
            <p><strong>Posted on: </strong><%= @post.created_at.to_time.strftime('%A (%b %e, %Y at %H : %M %p)')%></p>
        </div>
        <% if current_user%>
        <% if @post.user_id == current_user.id%>
            <%= link_to  "Edit post ", edit_post_path(@post), class:'btn btn-info' %>
        <% end %>
        <% end %>
        <%= render  "partials/comments" %>
        <br/>
        <%= link_to  "Back", posts_path, class:'glyphicon glyphicon-arrow-left' %>
    </div>
    <div class="col-md-1">
        
    </div>
</div>
