<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Idarecords | <%= params[:controller] %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  
   <nav class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to image_tag("img/idarecords.jpg", width:'20%'), root_path, class:'navbar-brand' %>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
        <%if current_user %>          
                <%= link_to  "Logout ", destroy_user_session_path, method: :delete, class:' navbar-btn navbar-right', id:'login' %>
              <% else%>
             <%= link_to  " Login ", new_user_session_path, class:'navbar-btn navbar-right', id:'login' %>
             <% end %>
          <ul class="nav navbar-nav">
            <li class="<%= params[:controller] == 'home' ? 'active' : ''%>"><%= link_to  "Home", root_path%></li>           
            <li class="<%= params[:controller] == 'about' ? 'active' : ''%>"><%= link_to  "About", about_path%></li>
            <li class="<%= params[:controller] == 'audios' ? 'active' : ''%>"><%= link_to  "Audios", audios_path%></li>
            <li class="<%= params[:controller] == 'videos' ? 'active' : ''%>"><%= link_to  "Videos", videos_path%></li>
            <li class="<%= params[:controller] == 'posts' ? 'active' : ''%>"><%= link_to  "Blog", posts_path%></li>
            
            <li class="<%= params[:controller] == 'services' ? 'active' : ''%>"><%= link_to  "Services", services_path%></li>
            <li class="<%= params[:controller] == 'contacts' ? 'active' : ''%>"><%= link_to  "Contact", contact_path%></li>
          </ul>

  </div>
                                 
        </div><!--/.nav-collapse -->
    </nav>
    <div class="container" id="container">
    <% if flash[:notice]%>
      <div class="alert alert-success"><%= flash[:notice]%></div>
    <% end %>
    <% if flash[:alert]%>
      <div class="alert alert-danger"><%= flash[:alert] %></div>
    <% end %>
      <%= render  "partials/search" %>

        <%= yield %>
    </div><!-- /.container -->
    
     <footer class="footer">
       &copy; copyright Idarecords 2019 | Alright reserved
 </body>
</html>
